doctype html
html
  head
    title= title
    meta(lang='sv')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type="text/css" rel="stylesheet" href='stylesheets/main.css')
  body
    div#content.content!=  markup

    script(type='text/javascript').
      window.__INITIAL_STATE__ = !{initialState};

    script(src='js/client.js')
