body {
	margin: 0;
	font-family: Arial;
}

.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}

ul {
	list-style: none;
  margin: 0;
  padding: 0;
}

a {
	color: $color-boid-purple;
	text-decoration: none;
}

a:hover {
	color: $color-gold;
	text-decoration: none;
}


/* PAGE */

.page-header {
	background: $color-boid-purple;
	color: $color-white;
	padding: 20px 0;
	margin-bottom: 40px;
}

.page-content {
	
}

.page-section {
	margin-bottom: 40px;
}


/* CONTENT */

.inline-content {
	display: inline-block;
	vertical-align: top;
}

.left-content {
	margin-right: 20px;
}

.right-content {
	margin-left: 20px;
}


