
.profile-img {
	border: 5px $color-white solid;
	height: 140px;
}

.profile-info {
	padding: 20px 0;
}

.profile-title, .profile-subtitle {
	margin: 5px 0;
}

.profile-title {
	font-weight: 500;
	font-size: 24px;
}

.profile-subtitle {
	font-weight: 100;	
	font-size: 18px;
}

.profile-status {
	margin-top: 20px;
	font-size: 14px;
}

.profile-status li:not(:first-child) {
	margin-left: 40px;
}