/**********************

***********************/

$color-black: #000000;

$color-white: #ffffff;

$color-boid-purple: #6a60a9;

$color-purple: #36185f;

$color-gold: #cc9933;

$color-silver: #ededed;

$color-grey: #262626;

$color-primary: $color-black !default;
